" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc


"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10

" Do incremental searching.
set incsearch

set number relativenumber
set idearefactormode=keep
set ideajoin

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- Enable IdeaVim plugins https://jb.gg/ideavim-plugins

" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'preservim/nerdtree'

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t

let mapleader = " "

nmap <S-Enter> O<Esc>
nmap <CR> o<Esc>

" system clipboard
" changed from "+ to "* in version 2.5.0
vmap <leader>y "*y
vmap <leader>d "*d
nmap <leader>y "*yy
nmap <leader>p "*p
nmap <leader>P "*P
vmap <leader>p "*p
vmap <leader>P "*P

" scrolling
nmap <leader>d <C-d>
nmap <leader>u <C-u>
vmap <leader>d <C-d>
vmap <leader>u <C-u>

" actions
nmap <leader>h <action>(PreviousTab)
nmap <leader>l <action>(NextTab)
nmap <leader>q <action>(CloseEditor)
nmap <leader>i <action>(Generate)
nmap <leader>g <action>(Git.Menu)
nmap <leader>/ <action>(ShowErrorDescription)
nmap <leader>e <action>(GotoNextError)
nnoremap <leader><leader> <C-Tab>

nmap <leader>k <Action>(MethodUp)
nmap <leader>j <Action>(MethodDown)
nmap <leader>s <Action>(FileStructurePopup)
nmap <leader>f <Action>(GotoFile)

" splits
:nmap <leader>v <Action>(PrevSplitter)
:nmap <c-v> <Action>(SplitVertically)

:map gs <Action>(JumpToLastChange)
:map gl <Action>(JumpToNextChange)

:map <leader>m <Action>(ToggleBookmarkWithMnemonic)

:map <leader>t <Action>(ActivateTerminalToolWindow)

let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'